In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Final_data_cleaned.xlsx')

In [3]:
list(df.AIRLINE.unique())

['IndiGo',
 'Akasa Air',
 'AirAsia',
 'Vistara',
 'Alliance Air',
 'Air India',
 'Star Air',
 'SpiceJet',
 'Air India Express',
 'AIX Connect',
 'Cathay Pacific Cargo',
 'Malaysia Airlines',
 'EuroAtlantic Airways',
 'Malaysia Airlines (Malaysia Negaraku Livery)',
 'Air India Express (Samai-Diya Livery)',
 'Air India Express (Great Stupa-Charminar Livery)',
 'Qatar Airways',
 'SalamAir',
 'FlyDubai',
 'Air India Express (Peacock-Stork Livery)',
 'Qatar Airways (25 Years of Excellence Sticker)',
 'SmartLynx',
 'Air India Express (Harmandir Sahib-Jumping Man)',
 'Air India Express (Ellora-Ajanta Caves Livery)',
 'Emirates',
 'flydubai',
 'Etihad Airways',
 'Air Arabia',
 'British Airways',
 'SF Airlines',
 'Gulf Air',
 'Oman Air',
 'IndiaOne Air',
 'flynas',
 'Corendon Airlines',
 'SriLankan Airlines',
 'Air india (Star Alliance Livery)',
 'China Eastern Airlines',
 'Air India Express (Garba-Bihu Dance Livery)',
 'Air India Express (Sitar-Tabla Livery)',
 'Air India Express (Konark Sun Temple-Taj Mahal)',
 'Air India Express (Qutb Minar-Jantar Mantar)',
 'Blue Dart Aviation',
 'IndiGo CarGo',
 'Turkish Airlines',
 'India One Air',
 'Air India Express (Kochi-Muziris Biennale Livery)',
 'US-Bangla Airlines',
 'Air India Express (Beach-Himalayas Livery)',
 'Singapore Airlines',
 'Egyptair (90 Years Sticker)',
 'Saudia',
 'SkyUp Airlines',
 'BBN Airlines Indonesia',
 'AIX Connect (The Pioneer Livery)',
 'Air India Express (Himalayan Peaks-Desert Livery)',
 'Fly91',
 'Air India Express (Mehrangarh Fort-Mysore Livery)',
 'Scoot',
 'AirAsia X',
 'Batik Air',
 'Neos',
 'AirAsia (Allstars Livery)',
 'Vistara (50 Aircraft Strong Sticker)',
 'Air India Express (Ragini Todi-Solah Shringar)',
 'Qantas (Oneworld Livery)',
 'Air India Express (Nagaland Folk-Manipuri Dance)',
 'Air India Express (Kathakali-Bharatanatyam Livery)',
 'Vistara (Retro Livery)',
 'Air India Express (Rangoli-Kites Livery)',
 'AirAsia (I â¤ Kelantan Livery)',
 'Air India Express (Hans Damayanti Music Livery)',
 'SpiceJet (Danube Properties Livery)',
 'Legend Airlines',
 'Druk Air',
 'Air India Express (Patola-Shawl Livery)',
 'Air India (Mahatma Gandhi Livery)',
 'Air India (Star Alliance Livery)']

In [3]:
df.AIRLINE = df.AIRLINE.astype('string').apply(lambda x:x.split("(")[0])

In [4]:
df.AIRLINE = df.AIRLINE.astype('string').apply(lambda x:x.strip())

In [48]:
df.AIRLINE.unique()

array(['IndiGo', 'Akasa Air', 'AirAsia', 'Vistara', 'Alliance Air',
       'Air India', 'Star Air', 'SpiceJet', 'Air India Express',
       'AIX Connect', 'Cathay Pacific Cargo', 'Malaysia Airlines',
       'EuroAtlantic Airways', 'Qatar Airways', 'SalamAir', 'FlyDubai',
       'SmartLynx', 'Emirates', 'flydubai', 'Etihad Airways',
       'Air Arabia', 'British Airways', 'SF Airlines', 'Gulf Air',
       'Oman Air', 'IndiaOne Air', 'flynas', 'Corendon Airlines',
       'SriLankan Airlines', 'Air india', 'China Eastern Airlines',
       'Blue Dart Aviation', 'IndiGo CarGo', 'Turkish Airlines',
       'India One Air', 'US-Bangla Airlines', 'Singapore Airlines',
       'Egyptair', 'Saudia', 'SkyUp Airlines', 'BBN Airlines Indonesia',
       'Fly91', 'Scoot', 'AirAsia X', 'Batik Air', 'Neos', 'Qantas',
       'Legend Airlines', 'Druk Air'], dtype=object)

In [49]:
df.columns

Index(['Unnamed: 0', 'TIME', 'FLIGHT', 'FROM', 'AIRLINE', 'AIRCRAFT', 'STATUS',
       'DATE', 'ARRIVAL_AIRPORT_CODE', 'ARRIVAL_AIRPORT_NAME',
       'WEATHER_ARRIVAL', 'WIND_ARRIVAL', 'DIRECTION_ARRIVAL',
       'WEATHER_DEPARTURE', 'WIND_DEPARTURE', 'DIRECTION_DEPARTURE',
       'Scheduled_departures', 'Actual_departures', 'Flight_duration',
       'Scheduled_arrival', 'Delay'],
      dtype='object')

In [5]:
df.dtypes

Unnamed: 0               int64
TIME                    object
FLIGHT                  object
FROM                    object
AIRLINE                 object
AIRCRAFT                object
STATUS                  object
DATE                    object
ARRIVAL_AIRPORT_CODE    object
ARRIVAL_AIRPORT_NAME    object
WEATHER_ARRIVAL         object
WIND_ARRIVAL            object
DIRECTION_ARRIVAL       object
WEATHER_DEPARTURE       object
WIND_DEPARTURE          object
DIRECTION_DEPARTURE     object
Scheduled_departures    object
Actual_departures       object
Flight_duration         object
Scheduled_arrival       object
Delay                    int64
dtype: object

In [6]:
df = df.drop(columns=df.columns[0])

In [7]:
df.dtypes

TIME                    object
FLIGHT                  object
FROM                    object
AIRLINE                 object
AIRCRAFT                object
STATUS                  object
DATE                    object
ARRIVAL_AIRPORT_CODE    object
ARRIVAL_AIRPORT_NAME    object
WEATHER_ARRIVAL         object
WIND_ARRIVAL            object
DIRECTION_ARRIVAL       object
WEATHER_DEPARTURE       object
WIND_DEPARTURE          object
DIRECTION_DEPARTURE     object
Scheduled_departures    object
Actual_departures       object
Flight_duration         object
Scheduled_arrival       object
Delay                    int64
dtype: object

In [4]:
df[df.columns[:-1]] = df[df.columns[:-1]].astype('string')

In [5]:
to_rename = ['WEATHER_ARRIVAL(celsius)', 'WIND_ARRIVAL(kts)', 'DIRECTION_ARRIVAL(degrees)',
       'WEATHER_DEPARTURE(celcius)', 'WIND_DEPARTURE(kts)', 'DIRECTION_DEPARTURE(degrees)']

In [6]:
to_be_renamed = list(df.columns[9:15])

In [1]:
pd.DataFrame([to_be_renamed, to_rename]).T.to_dict()

NameError: name 'pd' is not defined

In [13]:
df.columns[9:15]

Index(['WEATHER_ARRIVAL', 'WIND_ARRIVAL', 'DIRECTION_ARRIVAL',
       'WEATHER_DEPARTURE', 'WIND_DEPARTURE', 'DIRECTION_DEPARTURE'],
      dtype='object')

In [9]:
dict = pd.Series(df.columns).to_dict()

In [10]:
dict

{0: 'TIME',
 1: 'FLIGHT',
 2: 'FROM',
 3: 'AIRLINE',
 4: 'AIRCRAFT',
 5: 'STATUS',
 6: 'DATE',
 7: 'ARRIVAL_AIRPORT_CODE',
 8: 'ARRIVAL_AIRPORT_NAME',
 9: 'WEATHER_ARRIVAL',
 10: 'WIND_ARRIVAL',
 11: 'DIRECTION_ARRIVAL',
 12: 'WEATHER_DEPARTURE',
 13: 'WIND_DEPARTURE',
 14: 'DIRECTION_DEPARTURE',
 15: 'Scheduled_departures',
 16: 'Actual_departures',
 17: 'Flight_duration',
 18: 'Scheduled_arrival',
 19: 'Delay'}